/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Montserrat:wght@300&family=Ubuntu:wght@300&display=swap');
*{
    margin: 0%;
}

nav{
    position: absolute;
    background-color: rgba(64, 62, 66, 0.125);
   
}
