<div class="row  bg1" style="margin-top: -58px;">
  <div class="col-lg-5 col-md-11 col-sm-11 mx-auto mt-5 ">
    <h1 class="text-center mt-5 ">welcome {{user}}</h1>
    <p class="mt-5 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Provident minima quod
      nostrum at veritatis, odit perferendis mollitia, placeat optio nulla necessitatibus fugiat laborum, error ipsum
      maiores ex non nihil labore.</p>
    <button class="btn btn-outline-success">Read More</button>

  </div>
  <div class="col-lg-5 col-md-11 col-sm-11 mx-auto text-center mt-5" id="div2" >
    <button class="btn btn-success w-75 mt-5" (click)="getUser()" type="button" data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">User Details</button>
    <button class="btn btn-success w-75 mt-5 " (click)="getBalance()" data-bs-toggle="modal"
      data-bs-target="#exampleModal">Get Balance</button>
    <button class="btn btn-success w-75 mt-5" data-bs-toggle="modal" data-bs-target="#exampleModal1">Send Money</button>
    <a href="/transaction">
      <button class="btn btn-success w-75 mt-5">Account Statement</button>
    </a>
    
    <button class="btn btn-success w-75 mt-5">button</button>
  </div>

</div>

<div class="me-1">
  <button class="btn btn-warning ms-3 mt-5  " (click)="logout()">Logout</button>
</div>

<!-- account details -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">

    <h3 class="offcanvas-title" id="offcanvasExampleLabel" style="font-weight: 700;">Account Details</h3>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body mx-auto text-center">
    <img class=" mx-auto" style="width: 40%;" src="https://i.postimg.cc/43WNbC1t/profilepic-modified.png" alt="">
    <h4 class="mt-4" style=" font-family: 'Montserrat', sans-serif;">AccountNumber:{{acno}}</h4>
    <h4 class="mt-4" style=" font-family: 'Montserrat', sans-serif;">Username:{{user}}</h4>
   
    <div>
      <h3></h3>
    </div>

  </div>
</div>

<!-- Balance -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      
      <div class="modal-header ">
      
       <div class="w-100 text-center" > <img width="15%" class="" src="https://i.postimg.cc/PfbrwBPr/My-project.png" alt="">
        <h3 class="modal-title text-center mx-auto " id="exampleModalLabel" style="font-weight: 700; margin-left: 20%; font-family: 'Montserrat', sans-serif; ">Balance</h3>
       </div>
      </div>
      <div class="modal-body">
       
          <h3 class="text-center" style=" font-family: 'Montserrat', sans-serif;"><i class="fa-solid fa-indian-rupee-sign fa-bounce" ></i> {{balance}}</h3>
      

      </div>
      <div class="modal-footer">
        <button type="button" class="btn mx-auto text-white" data-bs-dismiss="modal" style="background-color: purple;">Close</button>
        
      </div>
    </div>
  </div>
</div>

<!-- transfer money -->

<div class="modal fade  " id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
 
  <div class="modal-dialog modal-lg row " >
    
    <div class="modal-content row">
      
      
      <div class="modal-header " id="model1header">
        <h3 class="" style="font-family: 'Bruno Ace', cursive; color: purple;">unibank</h3>
        <div class="mt-4">
          <h6 class="text-center "  style="font-family: 'Bruno Ace', cursive; color: purple;">Transfer Money</h6>
        </div>
 </div>
 <div>
  
 </div>
      <div class="modal-body">
        
       
        <form action="" [formGroup]="moneyTransferForm" (ngSubmit)="fundTransfer()" class=" mx-auto" style="width: 85%;" >
          
              <div class="wrapper">
                <div class="input-data">
                    <input  formControlName="toAcno" class=" " id="f1" name="toacno" required>
                    <div class="underline"></div>
                    <label >To AccountNumber</label>
                    <div *ngIf="(this.moneyTransferForm.get('toAcno')?.errors)&&(this.moneyTransferForm.get('toAcno')?.touched)" >
                      <p style="color:red;">Enter valid Accountnumber</p>
                    </div>
                </div>
        
            </div>
            <div class="wrapper">
              <div class="input-data">
                  <input formControlName="amount" class= "" id="f2" name="amt" required>
                  <div class="underline"></div>
                  <label >Amount</label>
                  <div *ngIf="(this.moneyTransferForm.get('amount')?.errors)&&(this.moneyTransferForm.get('amount')?.touched)" >
                    <p style="color:red;">Enter valid amount</p>
                  </div>
              </div>
        
          </div>
            <div class="wrapper">
              <div class="input-data">
                  <input formControlName="psw" class=" " id="f3" name="pswd1" required>
                  <div class="underline"></div>
                  <label >Password</label>
                  <div *ngIf="(this.moneyTransferForm.get('amount')?.errors)&&(this.moneyTransferForm.get('amount')?.touched)" >
                    <p style="color:red;">Enter valid password</p>
                  </div>
              </div>
        
          </div>
          <p class=" text-center fs-6" [ngClass]="tStatus?'s1':'s2'">{{transactionStatus}} </p>
          
          <div class="modal-footer">
            
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" style="background-color: purple;">Transfer</button>
          </div>
        </form> 

      </div>

    
   
  </div>
  
  
</div>
</div>