
<div class="row mt-5" style="height: 440px;">
<div class="col-lg-5 col-md-11 col-sm-11 mx-auto " ><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Provident minima quod nostrum at veritatis, odit perferendis mollitia, placeat optio nulla necessitatibus fugiat laborum, error ipsum maiores ex non nihil labore.</p>
<button class="btn btn-outline-success">Read More</button>

</div>
<div class="col-lg-5 col-md-11 col-sm-11 mx-auto" id="div2">
    <h1 class="text-center mt-5 text-white">welcome {{user}}</h1>
</div>

</div>
 
    <button class="btn btn-success ms-4 mt-5 " (click)="logout()" >Logout</button>

