
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Montserrat:wght@300&family=Ubuntu:wght@300&display=swap');

.wrapper{
    width: 100%;
    background: #fff;
    padding: 30px;
}

.wrapper .input-data{
    height: 30px;
    width: 100%;
    position: relative;
}
input:focus{
    outline: none;
}
.wrapper .input-data input{
    
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid silver;
    
    
    
}
.wrapper .input-data input:focus ~ label,
.wrapper .input-data input:valid ~ label{
    transform: translateY(-20px);
    font-size: 15px;
    color: #4158d0;
}

.wrapper .input-data label{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;
    font-family: 'Montserrat', sans-serif;
    
}
.wrapper .input-data .underline{
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 100%;
   
}
.input-data .underline:before{
    background: purple;
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.wrapper .input-data input:focus ~ .underline:before,
.wrapper .input-data input:valid ~ .underline:before{
    transform: scaleX(1);
}
.div2{
    background-image: url("https://i.postimg.cc/7ZqMfjPN/purple-gc90b33dd0-1280.png");
    
}

h1{
    font-family: 'Ubuntu', sans-serif;
    
}
h6{
    font-family: 'Ubuntu', sans-serif;
}
h5{
    font-family: 'Ubuntu', sans-serif;
}




